{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão de Dados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'predicao/atualizar.css' %}">
</head>
<body>
    <header>
        <div class="cabecalho">
            <div class="perfil">
                <div class="avatar">
                    <img src="{{ user.perfil.imagem.url }}">
                </div>
                <a href="#" class="btn-perfil">{{ user.first_name }}</a>
            </div>
            <div class="titulo-fertilex">
                <a href="">Fertilex</a>
            </div>
            <div class="div-logout">
                <a href="{% url 'Users:logout' %}" class="btn-logout">Sair</a>
            </div>
        </div>
    </header>
    <div class="div-criar-predicao">
        <a href="{% url 'app_fertilex:resultados' %}" class="btn-voltar">Voltar</a>
        <h1 class="criar-predicao">Atualizar Predição</h1>
    </div>
    <div>
        {% if previsao.id %}
        <form method="post" action="{% url 'app_fertilex:prever_atualizar' previsao.id %}">
            {% csrf_token %}
            <div class="div-inputs">
                <div class="conteudo-inputs">
                    <div class="div-titulo">
                        <label for="titulo" class="input-titulo">Título da Previsão:</label>
                        <input type="text" id="titulo" name="titulo" value="{{ previsao.titulo }}" class="form-control" placeholder="Digite o título da previsão" required>
                    </div>
                    <div class="div-numrow">
                        <label for="num-rows" class="input-numrows">Número de Linhas:</label>
                        <input type="number" id="num-rows" name="num_rows" value="{{ previsao.configuracao.num_linhas }}" class="form-control" min="0" value="0">
                    </div>
                </div>
            </div>
            <div class="conteudo-tudo">
                <div class="conteudo">
                    <p class="aviso">Caso deixe um campo vazio, será considerado como '0'</p>
                    {% csrf_token %}
                    <div class="div-tabela">
                        <table class="tabela" id="formset-table">
                            <thead class="table-categorias">
                                <tr>
                                    <th data-coluna="ID">ID</th>
                                    <th data-coluna="N">N</th>
                                    <th data-coluna="P">P</th>
                                    <th data-coluna="K">K</th>
                                    <th data-coluna="pH">pH</th>
                                    <th data-coluna="EC">EC</th>
                                    <th data-coluna="OC">OC</th>
                                    <th data-coluna="S">S</th>
                                    <th data-coluna="Zn">Zn</th>
                                    <th data-coluna="Fe">Fe</th>
                                    <th data-coluna="Cu">Cu</th>
                                    <th data-coluna="Mn">Mn</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody class="tabela-inputs">
                                {% for row in dados %}
                                    <tr>
                                        <td class="id-coluna" data-coluna="ID">{{ forloop.counter }}</td>
                                        <td data-coluna="N"><input type="number" name="N[]" value="{{ row.N }}" step="any"></td>
                                        <td data-coluna="P"><input type="number" name="P[]" value="{{ row.P }}" step="any"></td>
                                        <td data-coluna="K"><input type="number" name="K[]" value="{{ row.K }}" step="any"></td>
                                        <td data-coluna="pH"><input type="number" name="pH[]" value="{{ row.pH }}" step="any"></td>
                                        <td data-coluna="EC"><input type="number" name="EC[]" value="{{ row.EC }}" step="any"></td>
                                        <td data-coluna="OC"><input type="number" name="OC[]" value="{{ row.OC }}" step="any"></td>
                                        <td data-coluna="S"><input type="number" name="S[]" value="{{ row.S }}" step="any"></td>
                                        <td data-coluna="Zn"><input type="number" name="Zn[]" value="{{ row.Zn }}" step="any"></td>
                                        <td data-coluna="Fe"><input type="number" name="Fe[]" value="{{ row.Fe }}" step="any"></td>
                                        <td data-coluna="Cu"><input type="number" name="Cu[]" value="{{ row.Cu }}" step="any"></td>
                                        <td data-coluna="Mn"><input type="number" name="Mn[]" value="{{ row.Mn }}" step="any"></td>
                                        <td data-coluna="Ações"><button type="button" class="btn btn-danger delete-row-btn" data-index="{{ forloop.counter0 }}">Excluir</button></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <h3>Opções Pré-processamento </h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="ScalerNP" id="flexRadioDefault1" {% if scaler_checked %}checked{% endif %}>
                            <label class="form-check-label" for="flexRadioDefault1">
                                Standard Scaler
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="smote" id="flexRadioDefault1" {% if smote_checked %}checked{% endif %}>
                            <label class="form-check-label" for="flexRadioDefault1">
                                Smote
                            </label>
                        </div>
                    </div>
                    <div>
                        <h3>Escolha as Colunas</h3>
                        <div class="form-check">
                            {% if not colunas_selecionadas %}
                                <input class="form-check-input" type="checkbox" name="colunas_selecionadas" value="default" id="defaultCheckbox" checked>
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="colunas_selecionadas" value="default" id="defaultCheckbox">
                            {% endif %}
                            <label class="form-check-label">
                                Default
                            </label>
                        </div>

                        {% for coluna in colunas %}
                            <div class="form-check">
                                {% if coluna in colunas_selecionadas %}
                                    <input class="form-check-input colunaSelecionada" type="checkbox" name="colunas_selecionadas" value="{{ coluna }}" id="colunaSelecionada_{{ coluna }}" checked>
                                {% else %}
                                    <input class="form-check-input colunaSelecionada" type="checkbox" name="colunas_selecionadas" value="{{ coluna }}" id="colunaSelecionada_{{ coluna }}">
                                {% endif %}
                                <label class="form-check-label colunaSelecionada" for="colunaSelecionada_{{ coluna }}">
                                    {{ coluna }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="div-botoes">
                        <button type="button" id="add-row" class="btn-adicionar">Adicionar Linha</button>
                        <button type="submit" class="btn-criar">Atualizar</button>
                        <button type="button" id="limpar-form" class="btn-limpar">Limpar</button>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
        <div class="conteudo-tudo">
            <h1>Resultados</h1>
            <div class="conteudo">
                {% if previsao.resultados %}
                    <h3>{{ previsao.titulo }}</h3>
                    <p>Data de Criação: {{ previsao.data_criacao|date:"F j, Y, g:i a" }}</p>
                    <h4>Resultados:</h4>
                    <ul>
                        {% for resultado in previsao.resultados %}
                            <li>{{ forloop.counter }} - Nível de Fertilidade é {{ resultado }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Função para adicionar uma nova linha
            function updateNumRows() {
                // Atualiza o campo de número de linhas
                var numRows = $('#formset-table tbody tr').length;
                $('#num-rows').val(numRows);
            }

            function addRow() {
                var nextID = $('#formset-table tbody tr').length + 1;
                var newRow = '<tr>' +
                    '<td class="id-coluna" data-coluna="ID">' + nextID + '</td>';

                // Adiciona inputs apenas para as colunas selecionadas
                $('input[name="colunas_selecionadas"]:checked').each(function () {
                    var colunaSelecionada = $(this).val();
                    newRow += '<td data-coluna="' + colunaSelecionada + '"><input type="number" step="any"></td>';
                });

                newRow += '<td data-coluna="Ação"><button type="button" class="btn btn-danger delete-row-btn">Excluir</button></td>' +
                    '</tr>';

                $('#formset-table tbody').append(newRow);
                numRows = $('#formset-table tbody tr').length;
                $('#num-rows').val(numRows);
                preencherInputsFaltantes();
                atualizarNumeroDeLinhas();
            }

            function preencherInputsFaltantes() {
                // Para cada linha, verifica e preenche os inputs faltantes nas colunas selecionadas
                $('#formset-table tbody tr').each(function () {
                    var row = $(this);

                    $('input[name="colunas_selecionadas"]:checked').each(function () {
                        var colunaSelecionada = $(this).val();
                        var inputExistente = row.find('td[data-coluna="' + colunaSelecionada + '"] input');

                        if (inputExistente.length === 0) {
                            // Adiciona input apenas se ainda não existe, antes da célula "Ação"
                            row.find('td[data-coluna="Ação"]').before('<td data-coluna="' + colunaSelecionada + '"><input type="number" name="' + colunaSelecionada + '[]" step="any"></td>');
                        }
                    });
                });
            }

            $(document).on("click", ".delete-row-btn", function () {
                // Remover a linha da tabela
                $(this).closest('tr').remove();
                updateNumRows(); // Atualiza o campo de número de linhas
            });

            // Botão "Adicionar Linha"
            $("#add-row").click(function () {
                addRow();
            });


            $("#num-rows").change(function () {
                var numRows = parseInt($("#num-rows").val()) || 0;
                var currentRows = $('#formset-table tbody tr').length;

                if (numRows > currentRows) {
                    // Adicionar novas linhas com inputs para as colunas selecionadas
                    for (var i = currentRows; i < numRows; i++) {
                        var nextID = $('#formset-table tbody tr').length + 1;
                        var newRow = '<tr>' +
                            '<td class="id-coluna" data-coluna="ID">' + nextID + '</td>';

                        // Adicionar inputs apenas para as colunas selecionadas
                        $('input[name="colunas_selecionadas"]:checked').each(function () {
                            var colunaSelecionada = $(this).val();
                            newRow += '<td data-coluna="' + colunaSelecionada + '"><input type="number" name="' + colunaSelecionada + '[]" step="any"></td>';
                        });

                        newRow += '<td data-coluna="Ação"><button type="button" class="btn btn-danger delete-row-btn">Excluir</button></td>' +
                            '</tr>';

                        $('#formset-table tbody').append(newRow);
                    }
                } else if (numRows < currentRows) {
                    // Remover linhas excedentes
                    $('#formset-table tbody tr:gt(' + (numRows - 1) + ')').remove();
                    updateNumRows(); // Atualiza o campo de número de linhas
                }

                // Preencher inputs faltantes nas novas linhas
                preencherInputsFaltantes();
            });

            $("#limpar-form").click(function() {
                $('#formset-table tbody').empty(); 
                $('#num-rows').val(0);
            });


            $('input[name="colunas_selecionadas"]').change(function () {
                atualizarColunas();
                preencherInputsFaltantes();
            });

            function atualizarColunas() {
                // Verifica se a opção "Default" está marcada
                var isDefaultChecked = $('#defaultCheckbox').is(':checked');

                if (isDefaultChecked) {
                    // Se "Default" está marcado, selecionar todas as colunas e ocultar checkboxes individuais
                    $('input[name="colunas_selecionadas"]').prop('checked', true);
                    $('.colunaSelecionada').hide();
                } else {
                    // Se "Default" não está marcado, mostrar/ocultar com base nas seleções
                    $('input[name="colunas_selecionadas"]:checked').each(function () {
                        var colunaSelecionada = $(this).val();
                        $('th[data-coluna="' + colunaSelecionada + '"]').show();
                        $('td[data-coluna="' + colunaSelecionada + '"]').show();
                    });

                    $('input[name="colunas_selecionadas"]:not(:checked)').each(function () {
                        var colunaSelecionada = $(this).val();
                        $('th[data-coluna="' + colunaSelecionada + '"]').hide();
                        $('td[data-coluna="' + colunaSelecionada + '"]').hide();
                    });

                    // Exibir checkboxes individuais
                    $('.colunaSelecionada').show();
                }
            }

            // Ação quando o checkbox é alterado
            $('input[name="colunas_selecionadas"]').change(function () {
                atualizarColunas();
            });

            // Ação quando o checkbox "Default" é alterado
            $('#defaultCheckbox').change(function () {
                atualizarColunas();
            });

            // Atualizar as colunas ao carregar a página
            atualizarColunas();
            updateNumRows(); // Atualiza o campo de número de linhas


        });
    </script>
</body>
</html>
