{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Previsões</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'resultados/style2.css' %}">
</head>
<body>
    <header>
        <div class="cabecalho">
            <div class="perfil">
                <div class="avatar">
                    <img src="{{ user.perfil.imagem.url }}">
                </div>
                <a href="{% url 'Users:perfil' %}" class="btn-perfil">{{ user.first_name }}</a>
            </div>
            <div class="titulo-fertilex">
                <a href="">Fertilex</a>
            </div>
            <div class="div-logout">
                <a href="{% url 'Users:logout' %}" class="btn-logout">Sair</a>
            </div>
        </div>
    </header>
    <div class="conteudo-tudo">
        <div class="div-bemvindo">
            <h1 class="bem-vindo">Seja Bem Vindo, {{ user.username }} !</h1>
        </div>
        <form action="{% url 'app_fertilex:pesquisar_previsao' %}" method="get" id="searchForm">
            {% csrf_token %}
            <div class="input-class">
                <div class="input-group">
                    <input type="search" class="pesquisa-input" name="p" placeholder="Pesquisar..." aria-label="Search" aria-describedby="search-addon" oninput="filterResults()" value="{{ request.GET.p }}">
                    <button type="submit" class="btn-pesquisa">Buscar</button>
                </div>
            </div>
        </form>
    
        <div class="conteudo">
            {% if previsoes %}
                <ul class="list-group" id="searchResults">
                    {% for previsao in previsoes %}
                        <li class="lista-previsoes">
                            <div class="item-lista">
                                <div class="titulo-resultado">
                                    <span>{{ previsao.titulo }}</span>
                                </div>
                                <div class="botoes">
                                    <a href="{% url 'app_fertilex:prever_atualizar' previsao.id %}" class="btn-atualizar">Visualizar/Editar</a>
                                    <a href="{% url 'app_fertilex:excluir_previsao' previsao.id %}" class="btn-excluir">Excluir</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="nao-encontrado">Nenhuma previsão encontrada.</p>
            {% endif %}
            <div class="div-criar">
                <a href="{% url 'app_fertilex:prever_nova' %}" class="btn-criar">Criar Nova Predição</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var previsoes = JSON.parse('{{ previsoes_json|escapejs }}');
        
        function openConfirmationModal(previsaoId) {
            var modal = new bootstrap.Modal(document.getElementById('confirmationModal'));
            modal.show();
        }

        function filterResults() {
            var searchTerm = document.querySelector("input[name='p']").value.toLowerCase().trim();
            var resultsContainer = document.getElementById("searchResults");
            var resultsHTML = "";
            var encontrouResultado = false;

            '{% for previsao in previsoes %}'
                var titulo = "{{ previsao.titulo }}".toLowerCase();

                if (titulo.includes(searchTerm)) {
                    encontrouResultado = true;
                    resultsHTML += `
                        <li class="lista-previsoes">
                            <div class="item-lista">
                                <div class="titulo-resultado">
                                    <span>{{ previsao.titulo }}</span>
                                </div>
                                <div class="botoes">
                                    <a href="{% url 'app_fertilex:prever_atualizar' previsao.id %}" class="btn-atualizar">Visualizar/Editar</a>
                                    <a href="{% url 'app_fertilex:excluir_previsao' previsao.id %}" class="btn-excluir">Excluir</a>
                                </div>
                            </div>
                        </li>
                    `;
                }
            '{% endfor %}'

            if (!encontrouResultado) {
               
                resultsHTML += `
                    
                    <p class="nao-encontrado">Nenhuma previsão encontrada</p>
                        
                `;
            }

            // Atualizar os resultados no HTML
            resultsContainer.innerHTML = resultsHTML;
        }
    </script>
</body>
</html>
