{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Fertilex</h1>
    <section class="area-login">
        <div class="card">
            <div class="logo-login">
                <h2>Login</h2>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="form-input">
                    <label for="{{ form.email.id_for_label }}">Email:</label><br>
                    <input type="email" name="email" value="{{ form.email.value | default_if_none:'' }}" autofocus>
                </div>
                <div class="form-input">
                    <label for="{{ form.password.id_for_label }}">Senha:</label><br>
                    <input type="password" name="password">
                </div>
                <div class="form-input-button">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
            <div class="cadastro-login">
                Não tem uma conta? <a href="{% url 'cadastrar' %}">Cadastre-se</a>
            </div>
            <div class="alert">
                {% if form.errors.username %}
                    <span>{{ form.errors.username }}</span>
                {% endif %}
                {% if form.errors.password %}
                    <span >{{ form.errors.password }}</span>
                {% endif %}
            </div>
        </div>
    </section>
</body>
</html>